@keyframes shake-slow {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-0.5px, 0) rotate(-1.5deg);
  }
  50% {
    transform: translate(0.5px, 0) rotate(1.5deg);
  }
  75% {
    transform: translate(-0.5px, 0) rotate(-1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}


.shake-slow {
  animation: shake-slow 0.45s cubic-bezier(0.36, 0.07, 0.19, 0.97)
    infinite;
  animation-delay: 3.5s;
}
